<ng-container *ngIf="dataContext$ | async as dataContext">
  <div class="row form-group">
    <div class="col-12 d-flex">
      <div class="btn-group ml-auto">
        <button class="btn btn-outline-secondary" style="pointer-events: none;">
          Selection
        </button>
        <button class="btn btn-secondary" (click)="changeBlacklisting(dataContext.allModelNames)">
          None
        </button>
        <button class="btn btn-secondary" (click)="changeBlacklisting([])">
          All
        </button>
        <button class="btn btn-secondary" (click)="changeBlacklisting(dataContext.ensembleModelNames)">
          Ensemble
        </button>
      </div>
    </div>
  </div>

  <div class="alert alert-secondary" *ngIf="dataContext.items.length === 0">
    <h4 class="alert-heading">No datasource or models available</h4>
    <p>For the current target <b>{{dataContext.plotValue | labelTruthToPlotValue}}'</b> and location
      <b>{{dataContext.location.name}}</b> are no datasource or models available. Try to change the selection to another
      target and/or location.</p>
    <hr>
    <p>
      Use different target
      <span
        *ngFor="let p of [TruthToPlotValue.CumulatedCases, TruthToPlotValue.CumulatedDeath, TruthToPlotValue.IncidenceCases, TruthToPlotValue.IncidenceDeath]; last as l; first as f">
        <ng-container *ngIf="p !== dataContext.plotValue">
          <span *ngIf="!f && !l">, </span><span *ngIf="l"> or </span><a class="alert-link"
            (click)="changePlotValue(p)">{{p | labelTruthToPlotValue}}</a>
        </ng-container>
      </span>.
    </p>
    <p class="mb-0" *ngIf="dataContext.location.parent">
      Use <a class="alert-link" (click)="changeLocation(dataContext.location.parent)">
        <b>{{dataContext.location.parent.name}}</b></a> instead of specific province
      <b>{{dataContext.location.name}}</b>.
    </p>
  </div>

  <div class="row" [ngClass]="'row-cols-' + dataContext.items.length">
    <div class="col" *ngFor="let item of dataContext.items; let even = even;">
      <div class="card">
        <div class="card-header card-header-datasource" [ngClass]="{'datasource-disabled': !item.enabled}"
          (mouseleave)="onMouseOver(null)" (mouseover)="onMouseOver(item, dataContext.items)"
          (click)="toggleEnabled(item, dataContext.items)">
          <div class="d-flex align-items-center">
            <ng-container *ngTemplateOutlet="icon; context: {$implicit: item}">
            </ng-container>
            <span class="ml-1 mr-auto font-weight-bold text-truncate datasource-title"
              [title]="item.model.name">{{ item.model.name }}</span>
            <fa-icon [icon]="item.enabled ? icons.visible : icons.invisible"></fa-icon>
          </div>
        </div>
        <ng-container *ngTemplateOutlet="models; context: {$implicit: item.forecasts, roots: dataContext.items }">
        </ng-container>
        <ng-container *ngIf="item.shiftedForecasts">
          <div class="card-footer">
            Models orignally based on {{item.shiftedForecasts.origin}} data
          </div>
          <ng-container
            *ngTemplateOutlet="models; context: {$implicit: item.shiftedForecasts.forecasts,roots: dataContext.items}">
          </ng-container>
        </ng-container>

      </div>
    </div>
  </div>
</ng-container>

<ng-template #icon let-item>
  <!-- <code>{{item | json}}</code> -->
  <svg version="1.1" xmlns="http://www.w3.org/2000/svg" class="d-block legend-icon shrink-0"
    [ngSwitch]="item.model.style.symbol">
    <polygon points="8,2 14,14 2,14" *ngSwitchCase="'triangle'" stroke-width="1" [attr.stroke]="item.model.style.color"
      [attr.fill]="item.$type === 'ForecastLegendItem' ? 'transparent' : item.model.style.color" />

    <circle cx="8" cy="8" r="6" *ngSwitchDefault stroke-width="1" [attr.stroke]="item.model.style.color"
      [attr.fill]="item.$type === 'ForecastLegendItem' ? 'transparent' : item.model.style.color" />
  </svg>
</ng-template>

<ng-template #models let-forecasts let-roots="roots" let-even="even">
  <ul class="list-group list-group-flush">
    <li *ngFor="let forecast of forecasts" class="list-group-item list-group-forecast-item"
      [ngClass]="{'forecast-disabled': !forecast.enabled, 'forecast-no-series': !forecast.hasSeries}"
      (mouseleave)="onMouseOver(null)" (mouseover)="onMouseOver(forecast)" (click)="toggleEnabled(forecast, roots)">
      <div class="d-flex align-items-center flex-nowrap">
        <ng-container *ngTemplateOutlet="icon; context: {$implicit: forecast}">
        </ng-container>
        <span class="ml-1 mr-auto text-truncate forecast-title"
          [title]="forecast.model.name">{{forecast.model.name}}</span>
        <fa-icon [icon]="forecast.enabled ? icons.visible : icons.invisible"></fa-icon>
        <!-- <span *ngIf="forecast.hasSeries">I HAVE SERIES DATA!!!</span> -->
        <!-- <fa-icon *ngIf="forecast.adjust" class="mx-1 forecast-icon" [icon]="icons.adjusted"
          title="This model doesn't belong to this datasource - it's adjusted."></fa-icon> -->
      </div>
    </li>
  </ul>
</ng-template>
