<div class="row row-cols-2" *ngIf="items$ | async as items">
  <div class="col" *ngFor="let item of items; let even = even;">
    <div class="card">
      <div class="card-header" (mouseleave)="onMouseOver(null)" (mouseover)="onMouseOver(item, items)"
        (click)="toggleEnabled(item, items)">
        <div class="d-flex align-items-center">
          <ng-container *ngTemplateOutlet="icon; context: {$implicit: item.series.style, enabled: item.enabled}">
          </ng-container>
          <span class="ml-1 mr-auto font-weight-bold" [title]="item.series.name">{{ item.series.name }}</span>
          <button class="btn btn-primary btn-sm shrink-0"  (click)="toggleAdjust(item)">{{ even ? '&gt;&gt;' : '&lt;&lt;'}}
          </button>
        </div>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item" *ngFor="let forecast of item.forecasts" (mouseleave)="onMouseOver(null)"
          (mouseover)="onMouseOver(forecast, items)" (click)="toggleEnabled(forecast, items)">
          <div class="d-flex align-items-center flex-nowrap">
            <ng-container
              *ngTemplateOutlet="icon; context: {$implicit: forecast.series.style, enabled: forecast.enabled}">
            </ng-container>
            <span class="ml-1 mr-auto text-truncate" [title]="forecast.series.name">{{forecast.series.name}}</span>
            <button class="btn btn-primary btn-sm shrink-0" (click)="toggleAdjust(forecast)">{{ even ? '&gt;&gt;' : '&lt;&lt;'}}
            </button>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>

<ng-template #icon let-style let-enabled="enabled">
  <svg version="1.1" xmlns="http://www.w3.org/2000/svg" class="d-block legend-icon shrink-0" [ngSwitch]="style.symbol">
    <polygon points="8,2 14,14 2,14" *ngSwitchCase="'triangle'" stroke-width="1" [attr.stroke]="style.color"
      [attr.fill]="enabled ? style.color : 'transparent'" />

    <circle cx="8" cy="8" r="6" *ngSwitchDefault stroke-width="1" [attr.stroke]="style.color"
      [attr.fill]="enabled ? style.color : 'transparent'" />
  </svg>
</ng-template>

<ng-template #loading>
  loading!!!
</ng-template>
