@import "/src/variables.scss";
@import "node_modules/bootstrap/scss/functions";
@import "node_modules/bootstrap/scss/variables";
@import "node_modules/bootstrap/scss/mixins/_breakpoints";

.shrink-0 {
  flex-shrink: 0 !important;
}

.alert-link {
  cursor: pointer;
}

.legend-icon {
  height: 16px;
  width: 16px;
}

.list-group-forecast-item {
  cursor: pointer;

  .ng-fa-icon {
    color: #333;
  }

  &:hover {
    background-color: $primary;

    .forecast-title {
      color: $white;
    }

    .forecast-icon {
      color: $white;
    }
  }

  &.forecast-no-series {
    * {
      color: #ccc !important;
    }
    svg {
      * {
        stroke: #ccc;
        fill: #ccc;
      }
    }
  }
}

.card-header-datasource {
  border-color: $secondary;
  cursor: pointer;

  &:hover {
    background-color: $primary;

    .datasource-title {
      color: $white;
    }
  }

  &.datasource-disabled {
    .datasource-title {
      color: #ccc;
    }
  }
}

// @include media-breakpoint-up(xl) {
  .list-group-models {
    overflow-y: auto;
  }
// }
