@import "/src/variables.scss";

.shrink-0 {
  flex-shrink: 0 !important;
}

.alert-link {
  cursor: pointer;
}

.legend-icon {
  height: 16px;
  width: 16px;
}

.list-group-forecast-item {
  cursor: pointer;

  .ng-fa-icon {
    color: #333;
  }

  &:hover {
    background-color: $primary;

    .forecast-title {
      color: $white;
    }

    .forecast-icon {
      color: $white;
    }
  }

  &.forecast-disabled {
    .forecast-title {
      // color: $text-muted;
    }
  }

  &.forecast-no-series {
    * {
      color: #ccc !important;
    }
    svg {
      * {
        stroke: #ccc;
      }
    }
  }
}

.card-header-datasource {
  // background-color: $secondary;
  // color: $white;
  border-color: $secondary;
  cursor: pointer;

  // svg {
  //   * {
  //     stroke: #eee;
  //   }
  // }

  &:hover {
    background-color: $primary;

    .datasource-title {
      color: $white;
    }
  }

  &.datasource-disabled {
    .datasource-title {
      color: #ccc;
    }
  }
}
