<div class="row">
  <div class="col-4" *ngIf="legendContext$ | async as ctx">
    <h5>Legend</h5>
    <app-legend [items]="ctx.items" (enabledItemsChanged)="onEnabledLegendItemsChanged($event)"
      (hoverItem)="onHoverItem($event)"></app-legend>
  </div>
  <div class="col-8" *ngIf="plotContext$ | async as ctx">
    <h5>ForecastPlot</h5>
    <div *ngIf="forecastDateLookup$ | async as forecastDateLookup">
      <button class="btn btn-primary" (click)="changeForecastDateByDir('next', forecastDateLookup)">prev</button>
      <span>{{ctx.forecast.forecastDate | date}}</span>
      <button class="btn btn-primary" (click)="changeForecastDateByDir('prev', forecastDateLookup)">next</button>
    </div>

    <app-forecast-plot [dataSources]="ctx.dataSources" [forecasts]="ctx.forecast.series"
      [forecastDate]="ctx.forecast.forecastDate" [maxDate]="maxDate$ | async" [highlight]="highlight">
    </app-forecast-plot>
  </div>
</div>
