<div class="alert alert-info">
  <!-- <h4 class="display-4">&nbsp;</h4>-->
  <h4 class="alert-heading">Settings</h4>

  <div class="row form-group">
    <div class="col-12 col-form-label text-right">
      Location is used to...
    </div>
  </div>

  <hr>

  <div class="row form-group">
    <div class="col-12 col-form-label text-right">
      Target is used to...
    </div>
  </div>

  <hr>

  <div class="row form-group">
    <div class="col-12 col-form-label text-right">
      Confidence Interval is used to...
    </div>
  </div>

  <hr>

  <div class="row form-group">
    <div class="col-12 col-form-label text-right">
      Shift models to other datasources...
    </div>
  </div>

  <hr>

  <div class="row form-group">
    <div class="col-12 col-form-label text-right">
      Show forecast by to switch between different...
    </div>
  </div>

  <hr>

  <div class="row form-group">
    <div class="col-12 col-form-label text-right">
      Its either the forecast date or the horizon ahead specified in weeks...
    </div>
  </div>
</div>
