<div class="btn-toolbar" role="toolbar" *ngIf="selections$ | async as selections">
  <div class="btn-group mr-2" role="group">
    <div ngbDropdown class="d-inline-block" container="body">
      <button class="btn btn-secondary"
        ngbDropdownToggle>{{selections.root ? selections.root.name : 'Select state' }}</button>
      <div ngbDropdownMenu>
        <!-- <button ngbDropdownItem [ngClass]="{'font-weight-bold': selections.root === null}"
          (click)="select(null)">none</button> -->
        <button ngbDropdownItem *ngFor="let item of items$ | async" [ngClass]="{'font-weight-bold': selections.root === item}"
          (click)="select(item)">
          {{item.name}}
        </button>
      </div>
    </div>
  </div>
  <div class="btn-group mr-2" role="group">
    <div ngbDropdown class="d-inline-block" container="body">
      <button class="btn btn-secondary" [disabled]="!selections.root"
        ngbDropdownToggle>{{selections.province ? selections.province.name : 'Select province'}}</button>
      <div ngbDropdownMenu *ngIf="selections.root">
        <button ngbDropdownItem [ngClass]="{'font-weight-bold': selections.province === null}"
          (click)="select(selections.root)">none</button>
        <button ngbDropdownItem *ngFor="let item of selections.root.children"
          [ngClass]="{'font-weight-bold': selections.province === item}" (click)="select(item)">
          {{item.name}}
        </button>
      </div>
    </div>
  </div>
</div>
