main {
  padding: 64px 0 0;
  min-height: calc(100vh - 52px - 0.5rem);
}

.navbar-github {
  padding-top: 0;
  padding-bottom: 0;
}

.github-link {
  font-size: 2rem;
}

.debug-overlay {
  position: absolute;
  right: 15px;
  top: 79px;
  background-color: #eee;
  border: #333 solid 1px;
  padding: 10px;

  &:hover {
    opacity: 0.1;
  }
}
