<div class="container">
  <h3 class="display-3">Team</h3>

  <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore
    magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd
    gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing
    elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero
    eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum
    dolor sit amet.</p>


  <h4 class="display-4">Model Contributors</h4>

  <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore
    magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd
    gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing
    elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero
    eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum
    dolor sit amet.</p>

  <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3">
    <div class="col mb-4">
      <div class="card h-100">
        <img src="https://www.montessori-schule-goettingen.de/images/KollegInnen_2018/IMG_8999.jpg"
          class="card-img-top img-fluid" alt="">
        <div class="card-body">
          <h5 class="card-title">Team Montesori</h5>
          <p class="card-text">I contain explanations about the team. Lorem ipsum dolor sit amet, consetetur sadipscing
            elitr, sed diam nonumy eirmod tempor invidunt ut l...</p>
        </div>
        <div class="card-footer">
          <small class="text-muted">Visit us at <a href="#">Facebook</a> or on our <a href="#">Teampage</a>.</small>
        </div>
      </div>
    </div>
    <div class="col mb-4">
      <div class="card h-100">
        <img src="https://www.montessori-schule-goettingen.de/images/KollegInnen_2018/IMG_8999.jpg"
          class="card-img-top img-fluid" alt="">
        <div class="card-body">
          <h5 class="card-title">Team Montesori</h5>
          <p class="card-text">I contain explanations about the team. Lorem ipsum dolor sit amet, consetetur sadipscing
            elitr, sed diam nonumy eirmod tempor invidunt ut l...</p>
        </div>
        <div class="card-footer">
          <small class="text-muted">Visit us at <a href="#">Facebook</a> or on our <a href="#">Teampage</a>.</small>
        </div>
      </div>
    </div>
    <div class="col mb-4">
      <div class="card h-100">
        <img src="https://www.montessori-schule-goettingen.de/images/KollegInnen_2018/IMG_8999.jpg"
          class="card-img-top img-fluid" alt="">
        <div class="card-body">
          <h5 class="card-title">Team Montesori</h5>
          <p class="card-text">I contain explanations about the team. WITH EVEN MORE TEXT TEXT TEXT TEXT TEXT. Lorem ipsum dolor sit amet, consetetur sadipscing
            elitr, sed diam nonumy eirmod tempor invidunt ut l...</p>
        </div>
        <div class="card-footer">
          <small class="text-muted">Visit us at <a href="#">Facebook</a> or on our <a href="#">Teampage</a>.</small>
        </div>
      </div>
    </div>
    <div class="col mb-4">
      <div class="card h-100">
        <img src="https://www.montessori-schule-goettingen.de/images/KollegInnen_2018/IMG_8999.jpg"
          class="card-img-top img-fluid" alt="">
        <div class="card-body">
          <h5 class="card-title">Team Montesori</h5>
          <p class="card-text">I contain explanations about the team. Less text</p>
        </div>
        <div class="card-footer">
          <small class="text-muted">Visit us at <a href="#">Facebook</a> or on our <a href="#">Teampage</a>.</small>
        </div>
      </div>
    </div>
  </div>

  <h4 class="display-4">Development</h4>

  <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore
    magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd
    gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing
    elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero
    eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum
    dolor sit amet.</p>

  <div class="card-deck">
    <div class="card">
      <img src="https://www.montessori-schule-goettingen.de/images/KollegInnen_2018/IMG_8999.jpg"
        class="card-img-top img-fluid" alt="">
      <div class="card-body">
        <h5 class="card-title">ForecastHub</h5>
        <p class="card-text">Hi we are the ForecastHub team. Stet clita kasd gubergren, no sea takimata sanctus est
          Lorem ipsum
          dolor sit amet.</p>
      </div>
      <div class="card-footer">
        <small class="text-muted">Visit us at <a href="#">Github</a>.</small>
      </div>
    </div>

    <div class="card">
      <img src="https://www.montessori-schule-goettingen.de/images/KollegInnen_2018/IMG_8999.jpg"
        class="card-img-top img-fluid" alt="">
      <div class="card-body">
        <h5 class="card-title">Signale@RKI</h5>
        <p class="card-text">Hi we are the Signal team. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed
          diam
          nonumy eirmod tempor invidunt ut labore et dolore
          magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum.</p>
      </div>
      <div class="card-footer">
        <small class="text-muted">Visit us at <a href="#">Github</a> or on our <a href="#">Teampage (RKI)</a>.</small>
      </div>
    </div>
  </div>

</div>
