<div class="container-fluid" *ngIf="loading$ | async; else loading">
  <h4 class="display-4 mb-3">German and Polish COVID-19 ForecastHub</h4>

  <div class="row mb-3">
    <div class="col-md-4 d-none d-md-block">
      <app-map></app-map>
    </div>
    <div class="col-12 col-md-8">
      <app-title-settings></app-title-settings>
    </div>
  </div>

  <div class="row mb-3">
    <div class="col-12 order-lg-4 col-lg-8">
      <div class="forecast-plot-container">
        <app-forecast-plot></app-forecast-plot>
      </div>
    </div>
    <div class="col-12 order-lg-1 col-lg-4">
      <app-legend></app-legend>
    </div>
  </div>

</div>

<ng-template #loading>
  <app-loading-spinner></app-loading-spinner>
</ng-template>
