$border-radius:               1px !default;
$border-radius-lg:            1px !default;
$border-radius-sm:            1px !default;

@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';
